@tailwind base;
@tailwind components;
@tailwind utilities;


.js-show-on-scroll {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
  
.animate-fadeIn {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
} 

@media (prefers-reduced-motion) {
    .js-show-on-scroll {
        transition: none;
    }
}